
    <div class="bc-htp-modal">
        <div class="bc-htp-modal__container">
            <button class="bc-htp-modal__close" (click)="closeModal()"><i class="fas fa-close"></i></button>

            <h2 class="bc-htp-modal__title">How to play?</h2>

            <div class="bc-htp-modal__list">

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">1.</div>
                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__desc">
                            To play, you need to enter the bet amount and choose the color on which you bet. You can choose two different colors at the same time.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">2.</div>
                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__desc">
                            Red and black win gives you 2x payout. Green one - 14x payout!
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">3.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__desc">
                            If you choose the correct color you will win 2x or 14x your bet amount! However, if you choose the wrong color you lose your bet.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>