<div class="keno-htp-modal">

  <div class="keno-htp-modal__backdrop" (click)="closeModal()"></div>

  <div class="keno-htp-modal__card">
    <div class="keno-htp-modal__header">
      <div class="keno-htp-modal__title">HOW TO PLAY</div>

      <button class="keno-htp-modal__close" (click)="closeModal()">
        ✕
      </button>
    </div>

    <div class="keno-htp-modal__body">

      <div class="keno-htp-modal__game-title">
        <span>KENO</span>
      </div>

      <div class="keno-htp-modal__board">
        <img src="assets/keno/keno-htp.png" alt="keno board" />
      </div>
      <div class="keno-htp-modal__desc">
        Each round, you choose up to ten numbers, or hit ‘random’ to choose randomly.
        For each of your numbers drawn, your winnings increase!
      </div>

    </div>

  </div>

</div>