<div class="cb-gr-modal">
  <div class="cb-gr-modal__container">
    <button class="cb-gr-modal__close" (click)="closeModal()"></button>
    <h2 class="cb-gr-modal__title">
      Game rules
    </h2>

    <div class="cb-gr-modal__subtitle">
      Bet limits are presented below
    </div>

    <!-- RULES -->
    <div class="cb-gr-modal__rules">

      <div class="cb-gr-modal__rule">
        <div class="cb-gr-modal__label">
          Min bet:
        </div>

        <div class="cb-gr-modal__value">
          0.12 USD
        </div>
      </div>

      <div class="cb-gr-modal__rule">
        <div class="cb-gr-modal__label">
          Max bet:
        </div>

        <div class="cb-gr-modal__value">
          200 USD
        </div>
      </div>

      <div class="cb-gr-modal__rule">
        <div class="cb-gr-modal__label">
          Max win:
        </div>

        <div class="cb-gr-modal__value">
          20 000 USD
        </div>
      </div>

    </div>

    <!-- FOOTER -->
    <div class="cb-gr-modal__footer">
      Malfunction voids all pays and plays
    </div>

  </div>

</div>