<div class="keno-htp-modal">

  <div class="keno-htp-modal__backdrop" (click)="closeModal()"></div>

  <div class="keno-htp-modal__card">
    <div class="keno-htp-modal__header">
      <div class="keno-htp-modal__title">HOW TO PLAY</div>

      <button class="keno-htp-modal__close" (click)="closeModal()">
        ✕
      </button>
    </div>

    <div class="keno-htp-modal__body">

      <div class="keno-htp-modal__game-title">
        <span>Hotline</span>
      </div>

      <div class="keno-htp-modal__board">
        <img src="assets/hotline/hotline-htp.png" alt="keno board" />
      </div>
      <div class="keno-htp-modal__desc">
        Will the roll be red or black? Place your bet and spin, or if you’re feeling lucky, choose 'High risk mode' and HOT for a spicy x1056 multiplier! 
      </div>

    </div>

  </div>

</div>