<div class="bc-men-card">
    <div class="bc-men-card__profile">
        <div class="bc-men-card__profile-left">
            <div class="bc-men-card__avatar">
                <img src="https://i.pravatar.cc/100?img=12" alt="avatar" />
            </div>
            <div class="bc-men-card__user-name">
                Gold Sporti...
            </div>
        </div>
    </div>

    <!-- SETTINGS -->
    <div class="bc-men-card__section">
        <!-- SOUND -->
        <div class="bc-men-card__item" (click)="toggleSound()">

            <div class="bc-men-card__item-left">

                <div class="bc-men-card__icon">
                    🔊
                </div>

                <div class="bc-men-card__label">
                    Sound
                </div>

            </div>

            <div class="bc-men-card__switch" [class.bc-men-card__switch--off]="
      !(chickenBananaMenuService.soundEnabled$ | async)
    ">
            </div>

        </div>

        <!-- MUSIC -->
        <div class="bc-men-card__item" (click)="toggleMusic()">

            <div class="bc-men-card__item-left">

                <div class="bc-men-card__icon">
                    🎵
                </div>

                <div class="bc-men-card__label">
                    Music
                </div>

            </div>

            <div class="bc-men-card__switch" [class.bc-men-card__switch--off]="
      !(chickenBananaMenuService.musicEnabled$ | async)
    ">
            </div>

        </div>
    </div>

    <div class="bc-men-card__divider"></div>
    <div class="bc-men-card__section">
        <div class="bc-men-card__item" (click)="openGameRulesModal()">
            <div class="bc-men-card__item-left">
                <div class="bc-men-card__icon">
                    📄
                </div>
                <div class="bc-men-card__label">
                    Game rules
                </div>

            </div>

        </div>

        <!-- BET HISTORY -->
        <div class="bc-men-card__item" (click)="openBetHistoryModal()">
            <div class="bc-men-card__item-left">
                <div class="bc-men-card__icon">
                    🕘
                </div>
                <div class="bc-men-card__label">
                    My bet history
                </div>
            </div>
        </div>

        <!-- HOW TO PLAY -->
        <div class="bc-men-card__item" (click)="openHowToPlayModal()">
            <div class="bc-men-card__item-left">
                <div class="bc-men-card__icon">
                    ❓
                </div>
                <div class="bc-men-card__label">
                    How to play
                </div>
            </div>
        </div>
    </div>

    <div class="bc-men-card__divider"></div>
    <div class="bc-men-card__footer">
        <div class="bc-men-card__powered">
            <span>Powered by</span>
            <div class="bc-men-card__brand">
                GURU <span>GAMES</span>
            </div>
        </div>
    </div>

</div>