
    <div class="bc-htp-modal">
        <div class="bc-htp-modal__container">
            <button class="bc-htp-modal__close" (click)="closeModal()"><i class="fas fa-close"></i></button>

            <h2 class="bc-htp-modal__title">How to play?</h2>

            <div class="bc-htp-modal__list">

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">1.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">Place your bet.</div>

                        <div class="bc-htp-modal__desc">
                            Select the amount you want to bet before each round begins
                            (0.01 - 150 EUR).
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">2.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">Start the game.</div>

                        <div class="bc-htp-modal__desc">
                            Press the PLAY button to launch the round. Five random
                            symbols will appear and fix in the upper field.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">3.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">Reveal cards.</div>

                        <div class="bc-htp-modal__desc">
                            A 5x4 grid of closed cards will appear. You can open cards
                            manually by tapping them or use the GO button to reveal a
                            random card automatically.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">4.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">Symbol types.</div>

                        <div class="bc-htp-modal__desc">
                            Different symbols are hidden on the field: Low, Medium,
                            and High. Look for special Jackpot symbols: Mini (x25),
                            Major (x100), and Mega (x1000).
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">5.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">Win conditions.</div>

                        <div class="bc-htp-modal__desc">
                            Find 3 matching symbols to win. Once the match is found,
                            the round ends, and all remaining cards reveal automatically.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">6.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">
                            Bonus Game and Free Spins.
                        </div>

                        <div class="bc-htp-modal__desc">
                            Match 3 chest symbols to launch the Bonus Game with the
                            most valuable rewards. Three FS symbols activate between
                            1 and 10 free rounds.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">7.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">Guaranteed win.</div>

                        <div class="bc-htp-modal__desc">
                            Losing is impossible in Chicken-Banana. Every round is
                            guaranteed to end with a 3-symbol match and a payout.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">8.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">Auto Game.</div>

                        <div class="bc-htp-modal__desc">
                            Hold down the PLAY or GO button to activate automatic
                            mode. Select the number of auto-spins (from 10 to 1000),
                            and the game will continue until they are completed.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">9.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">
                            Technical malfunctions void all payouts and games.
                        </div>
                    </div>
                </div>

                <div class="bc-htp-modal__item">
                    <div class="bc-htp-modal__number">10.</div>

                    <div class="bc-htp-modal__content">
                        <div class="bc-htp-modal__heading">
                            Malfunction voids all pays and plays
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>