<section class="av-history">
    <div class="av-history__navigation">
        <div class="av-history__switch active">All Bets</div>
        <div class="av-history__switch">Previous</div>
        <div class="av-history__switch">Top</div>
    </div>
    <div class="av-history__totalbets">
        <div class="av-history__totalbets-container">
            <div class="av-history__totalbets-users">
                <div class="av-history__totalbets-usersimages">
                    <img src="assets/aviator/players-images/1.png" alt="">
                    <img src="assets/aviator/players-images/1.png" alt="">
                    <img src="assets/aviator/players-images/1.png" alt="">
                </div>
                <div class="av-history__totalbets-count">110/334 <span>Bets</span></div>
            </div>
            <div class="av-history__totalbets-amounts">
                <div class="total-wins">0.00</div>
                <div class="total-wins-label">Total win USD</div>
            </div>
        </div>
        <div class="av-history__totalbets-progress"></div>

    </div>
    <div class="av-history__table">
        <div class="av-history__thead">
            <div class="av-history__th player">Player</div>
            <div class="av-history__th betusd">Bet USD</div>
            <div class="av-history__th x">X</div>
            <div class="av-history__th winusd">Win USD</div>
        </div>
        <div class="av-history__tbody">
            <div class="av-history__tr cashout">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/1.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/2.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/3.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr cashout">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/4.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/5.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/6.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>
            <div class="av-history__tr">
                <div class="av-history__td player">
                    <img src="assets/aviator/players-images/7.png" alt="" class="player-img">
                    <div class="username">Shubh**</div>
                </div>
                <div class="av-history__td ">100.00</div>
                <div class="av-history__td "></div>
                <div class="av-history__td "></div>
            </div>


        </div>
    </div>
    <!-- <div class="av-history__footer">
        <button  class="av-history__action">
           <i class="fa-solid fa-shield"></i> Provably Fair Game
        </button>
    </div> -->
</section>