<header class="game-header">
  <nav class="game-header-nav">

    <!-- Left -->
    <div class="game-nav-left">
      <div class="game-logo">
        <img src="assets/mines/header-icons/Game_Nav_Logo.svg" class="game-logo-img" />
      </div>
    </div>

    <div class="game-nav-right">
      <div class="balance-wallet-box">
        <div class="wallet-icon-wrapper">
          <i class="fas fa-wallet"></i>
        </div>
        <div class="wallet-balance">1000</div>
      </div>
      <div class="setting-icon-wrapper">
        <i class="fas fa-cog setting-icon" (click)="showProfileModal = true"></i>
      </div>

    </div>
  </nav>
</header>

<!-- mine-menu-card.component.html -->
<div class="mine-menu-card" *ngIf="showProfileModal">
  <div class="mine-menu-card__container">
    <!-- Header -->
    <div class="mine-menu-card__header">
      <h2 class="mine-menu-card__title">Settings</h2>
      <button class="mine-menu-card__close-btn" (click)="closeMenu()">
        ✕
      </button>
    </div>
    <!-- Nickname -->
    <div class="mine-menu-card__nickname-box">
      <span class="mine-menu-card__nickname-label">
        Nickname
      </span>
      <h3 class="mine-menu-card__nickname">
        Satisfied Prawn
      </h3>
    </div>

    <!-- Limits Button -->
    <button class="mine-menu-card__menu-btn" (click)="toggleLimits()">
      <div class="mine-menu-card__menu-left">
        <div class="mine-menu-card__icon">⦿</div>
        <span>Limits</span>
      </div>
      <span>+</span>
    </button>

    <button class="mine-menu-card__menu-btn" (click)="toggleRules()">
      <div class="mine-menu-card__menu-left">
        <div class="mine-menu-card__icon">
          📄
        </div>
        <span>Rules</span>
      </div>
      <span>+</span>
    </button>

    <!-- Sound -->
    <div class="mine-menu-card__sound-row">
      <div class="mine-menu-card__sound-icon">
    <i class="fa-solid fa-volume-high"></i>
      </div>
      <input type="range" min="0" max="100" [value]="soundService.volume" (input)="onVolumeChange($event)"
        class="mine-menu-card__slider" />
    </div>
  </div>
</div>




<!-- limits-modal.component.html -->
<!-- mine-limits.component.html -->

<div class="mine-limits" *ngIf="showLimits">
  <div class="mine-limits__overlay" (click)="toggleLimits()"></div>
  <div class="mine-limits__modal">
    <div class="mine-limits__header">
      <h2 class="mine-limits__title">
        Limits
      </h2>
      <button class="mine-limits__close-btn" (click)="toggleLimits()">✕</button>
    </div>

    <div class="mine-limits__cards">
      <div class="mine-limits__mini-box">
        <span class="mine-limits__label">
          Min bet
        </span>
        <h3 class="mine-limits__value">
          $0.1
        </h3>
      </div>

      <!-- Max Bet -->
      <div class="mine-limits__mini-box">
        <span class="mine-limits__label">
          Max bet
        </span>
        <h3 class="mine-limits__value">
          $100
        </h3>
      </div>
      <!-- Max Profit -->
      <div class="mine-limits__mini-box">
        <span class="mine-limits__label">
          Max Profit
        </span>
        <h3 class="mine-limits__value">
          $10000
        </h3>
      </div>
    </div>
  </div>
</div>


<app-mines-game-rules *ngIf="showRules" (close)="closeGameRules()"></app-mines-game-rules>