@mixin DisplayFlexWithSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin DisplayFlex {
    display: flex;
    align-items: center;
}

@mixin linier-gradient-for-history-table {
    background-image: linear-gradient(309deg, #121416 0%, #353a40 100%), linear-gradient(131deg, rgba(172, 172, 172, .4) 0%, transparent 50%, rgba(0, 0, 0, .4) 100%);
    border-radius: 10px;
}

.game-header {
    width: 100%;
}

.game-header-nav {
    width: 90%;
    margin: auto;
    @include DisplayFlexWithSpaceBetween
}

.game-nav-left {
    @include DisplayFlex
}

.game-logo {
    @include DisplayFlex
}

.game-nav-right {
    @include DisplayFlex
}

.balance-wallet-box {
    min-height: 30px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, #24282c 0%, #141619 100%);
    border-radius: .375rem;
    box-shadow: inset -.125rem -.125rem .75rem rgba(255, 255, 255, .06), inset .125rem .1875rem .5rem rgba(7, 7, 9, .8);
}

.wallet-icon-wrapper {
    font-size: 15px !important;
    color: #fff !important;
    margin-top: 2px;
    margin-right: 6px;
}

.wallet-balance {
    font-size: 16px;
    font-weight: 500;
    color: #fff;

}




@media screen and (max-width:768px) {
    .game-logo-img {
        height: 40px;
    }

    .game-header-nav {
        width: 95%;
        margin: auto;
    }

    .balance-wallet-box {
        min-height: 30px;
        min-width: 100px;
    }

    .setting-icon {
        font-size: 18px;
    }

}

.setting-icon-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(315deg, #24282c 0%, #141619 100%);
    border-radius: 50%;
    box-shadow: inset -.125rem -.125rem .75rem rgba(255, 255, 255, .06), inset .125rem .1875rem .5rem rgba(7, 7, 9, .8);
    margin-left: 10px;

    i {
        font-size: 18px;
        color: #929496;
        cursor: pointer;
    }
}


/* mine-menu-card.component.scss */

.mine-menu-card {
    width: 300px;
    border-radius: 36px;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 999;
    backdrop-filter: blur(1.25rem);
    background: rgba(0, 0, 0, .4);
    border: 1px solid transparent;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem 0;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .5);
    padding-bottom: 20px;


    &__container {
        width: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: #d8d8d8;
        font-size: 17px;
        font-weight: 700;
        margin: 0;
    }

    &__close-btn {
        width: 22px;
        height: 22px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        background: transparent;
        color: #9a9a9a;
        font-size: 22px;
        transition: 0.2s;

        &:hover {
            color: white;
            transform: rotate(90deg);
        }
    }

    &__nickname-box {
        margin-top: 15px;
        padding: 10px 24px;
        border-radius: 20px;
        background: linear-gradient(312.27deg, rgba(0, 0, 0, .125) .02%, rgba(0, 0, 0, .376) 100.02%);
        border-radius: .375rem;
        margin-bottom: 1.5rem;
        box-shadow: -.0625rem -.0625rem .125rem rgba(0, 0, 0, .25), .0625rem .0625rem .125rem rgba(255, 255, 255, .25);
    }

    &__nickname-label {
        color: #7b7b7b;
        font-size: 14px;
        display: block;
        margin-bottom: 7px;
    }

    &__nickname {
        color: white;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
    }

    &__menu-btn {
        width: 100%;
        height: 36px;
        margin-top: 10px;
        padding: 0 28px;
        background: rgba(255, 255, 255, .1);
        border: .0625rem solid rgba(255, 255, 255, .35);
        border-radius: .375rem;
        margin-bottom: .375rem;
        box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, .35);
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.25s;
        color: #c7c7c7;
        font-size: 14px;
        font-weight: 600;

        &:hover {
            transform: translateY(-2px);

            border-color: rgba(255, 255, 255, 0.28);

            background:
                linear-gradient(180deg,
                    rgba(70, 70, 70, 0.9),
                    rgba(40, 40, 40, 1));
        }
    }

    &__menu-left {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }


    &__sound-row {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__sound-icon {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.716);
    }

    &__slider {
        flex: 0.9;
        height: 8px;
        appearance: none;
        border-radius: 999px;
        background:
            linear-gradient(90deg,
                #1ee97d,
                #006b4a);
        box-shadow:
            0 0 12px rgba(0, 255, 140, 0.35);

        &::-webkit-slider-thumb {
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #21ff74;
            border: 5px solid #1f6b42;
            cursor: pointer;
            box-shadow:
                0 0 16px rgba(33, 255, 116, 0.9);
        }
    }
}




// Game limits model ------------------------



.mine-limits {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;

    /* Overlay */
    &__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    /* Modal */
    &__modal {
        position: relative;;
        padding: 18px 16px;
        min-width: 340px;
        border-radius: 24px;
        background:
            linear-gradient(180deg,
                rgba(4, 7, 12, 0.98) 0%,
                rgba(0, 0, 0, 0.99) 100%);

        border: 1px solid rgba(255, 255, 255, 0.04);
        box-shadow:
            0 0 40px rgba(0, 0, 0, 0.9),
            inset 0 1px 0 rgba(255, 255, 255, 0.03);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    &__title {
        margin: 0;
        color: #c9c9c9;
        font-size: 16px;
        font-weight: 600;
    }

    &__close-btn {
        width: 28px;
        height: 28px;
        border: none;
        outline: none;
        background: transparent;
        color: #cfcfcf;
        font-size: 22px;
        cursor: pointer;
        transition: 0.25s ease;

        &:hover {
            color: white;
            transform: rotate(90deg);
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__mini-box {
        width: 100%;
        height: 3rem;
        padding: 12px 14px;
        border-radius: 14px;
        background: linear-gradient(312.27deg, rgba(0, 0, 0, .125) .02%, rgba(0, 0, 0, .376) 100.02%);
        border-radius: .375rem;
        margin-bottom: 1.5rem;
        padding: .5rem .75rem;
        box-shadow: -.0625rem -.0625rem .125rem rgba(0, 0, 0, .25), .0625rem .0625rem .125rem rgba(255, 255, 255, .25);
    }

    &__label {
        display: block;
        color: #6f6f6f;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 4px;
    }

    &__value {
        margin: 0;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
    }
}