.mine-rules__overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.mine-rules {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__modal {
        position: relative;
        width: 550px;
        max-width: calc(100vw - 24px);
        max-height: 600px;
        overflow-y: auto;
        border-radius: 28px;
        background:
            linear-gradient(180deg,
                rgba(7, 10, 16, 0.98) 0%,
                rgba(0, 0, 0, 1) 100%);
        border: 1px solid rgba(255, 255, 255, 0.05);
        box-shadow:
            0 25px 60px rgba(0, 0, 0, 0.9),
            inset 0 1px 0 rgba(255, 255, 255, 0.04);
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
        z-index: 9999;
    }

    &__header {
        height: 70px;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: #fff;
        opacity: .5;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
    }

    &__close-btn {
        width: 28px;
        height: 28px;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;
        color: #d0d0d0;
        font-size: 22px;
        transition: 0.2s ease;

        &:hover {
            color: white;
            transform: rotate(90deg);
        }
    }

    /* top text */
    &__top-content {
        padding: 0 18px 18px;
        color: #ececec;
        font-size: 13px;
        line-height: 22px;
    }

    /* accordion */
    &__accordion-item {
        box-shadow: -.0625rem -.0625rem .125rem rgba(0, 0, 0, .25), .0625rem .0625rem .125rem rgba(255, 255, 255, .25);
        background:
            linear-gradient(180deg,
                rgba(255, 255, 255, 0.008),
                transparent);
    }

    &__accordion-header {
        min-height: 64px;
        padding: 20px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.02);
        }
    }

    &__accordion-title {
        color: white;
        font-size: 15px;
        font-weight: 700;
    }

    &__accordion-arrow {
        color: #d8d8d8;
        font-size: 20px;
        transition: 0.28s ease;

        &--rotate {
            transform: rotate(180deg);
        }
    }

    /* body */
    &__accordion-body {
        max-height: 0;

        overflow: hidden;

        transition:
            max-height 0.35s ease,
            opacity 0.35s ease;

        opacity: 0;

        &--open {
            max-height: 400px;
            opacity: 1;
        }
    }

    &__accordion-content {
        padding:
            0 18px 16px;
    }

    &__point {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        color: #bdbdbd;
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    &__dot {
        min-width: 6px;
        width: 6px;
        height: 6px;
        margin-top: 8px;
        border-radius: 50%;
        background: #21ff89;
        box-shadow:
            0 0 10px rgba(33, 255, 137, 0.7);
    }
}