.game-rules-modal {
    width: 70%;
    margin: auto;
    background-color: #272b30;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: top 0.6s ease, opacity 0.6s ease;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .5);
}

.game-rules-modal.show {
    opacity: 1;
    top: 52px;
}

.game-rules-modal.hide {
    opacity: 0;
    top: -100%;
}

.rules-close-icon {
    font-size: 23px !important;
    color: #aaacad;
    float: right;
    cursor: pointer;
}

.rules-close-icon.LIGHT {
    color: #000;
}

.game-rules-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.game-rules-list {
    width: 100%;
}

.game-rule {
    margin-top: 10px;
}

.rule-heading {
    padding: 5px 10px;
    max-width: 190px;
    background-image: linear-gradient(282deg, #2c333a 126%, #1c1e22 25%);
    border: 1px solid #171a1e;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, .05), inset 2px 3px 10px #070709;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
}

.rule-step {
    font-size: 12px;
    color: #aaacad;
    margin: 10px 0px 15px 0px;
    font-weight: 500;
}

.rule-step.LIGHT {
    color: #000;
}


@media screen and (max-width:768px) {

    .game-rules-modal {
        width: 97%;
        margin: auto;
    }

    .game-rules-modal.show {
        opacity: 1;
        top: 52px;
    }

    .game-rules-modal.hide {
        opacity: 0;
        top: -100%;
    }

    .rules-close-icon {
        font-size: 23px !important;
    }

    

    .game-rules-header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .game-rules-list {
        width: 100%;
    }

    .game-rule {
        margin-top: 10px;
    }

    .rule-heading {
        padding: 5px 10px;
        max-width: 190px;
    }

    .rule-step {
        font-size: 12px;
    }


}