
<div class="game-limits">
  <div class="game-limits__overlay"></div>
  <div class="game-limits__modal">
    <div class="game-limits__header">
      <h2 class="game-limits__title">GAME LIMITS</h2>
      <button class="game-limits__close" (click)="closeGameLimits()">✕</button>
    </div>

    <p class="game-limits__desc">
      Game limits are managed by operator. Current game limits for this game are below:
    </p>
    <div class="game-limits__list">
      
      <div class="game-limits__item">
        <span class="game-limits__label">Maximum bet USD:</span>
        <span class="game-limits__value">100.00</span>
      </div>

      <div class="game-limits__item">
        <span class="game-limits__label">Minimum bet USD:</span>
        <span class="game-limits__value">0.10</span>
      </div>

      <div class="game-limits__item">
        <span class="game-limits__label">Maximum win for one bet USD:</span>
        <span class="game-limits__value">10,000.00</span>
      </div>

      <div class="game-limits__item">
        <span class="game-limits__label">Auto cashout in sec:</span>
        <span class="game-limits__value">30</span>
      </div>

    </div>
  </div>
</div>





