

<section class="aviator-layout">
    <div class="aviator-layout__header">
        <app-aviator-header></app-aviator-header>
    </div>
    <div class="aviator-layout__container">
        <div class="aviator-layout__left">
            <app-bethistory></app-bethistory>
        </div>
        <div class="aviator-layout__right">
           <app-aviator-game-screen></app-aviator-game-screen>
        </div>
    </div>
</section>

<app-my-bets></app-my-bets>
<app-game-limits></app-game-limits>
<app-how-to-play></app-how-to-play>
<app-game-rules></app-game-rules>
<app-game-provably></app-game-provably>
<app-round-info></app-round-info>
<app-change-avtar-modal></app-change-avtar-modal>