<div class="bc-bh-modal">

  <div class="bc-bh-modal__container">

    <button class="bc-bh-modal__close" (click)="closeModal()"></button>

    <h2 class="bc-bh-modal__title">
      My bet history
    </h2>

    <div class="bc-bh-modal__table">

      <!-- TABLE HEAD -->
      <div class="bc-bh-modal__table-head">

        <div class="bc-bh-modal__head-item">
          Date
        </div>

        <div class="bc-bh-modal__head-item">
          Bet
        </div>

        <div class="bc-bh-modal__head-item">
          Mult.
        </div>

        <div class="bc-bh-modal__head-item">
          Win
        </div>

      </div>

      <!-- TABLE BODY -->
      <div class="bc-bh-modal__table-body">

        <!-- EMPTY STATE -->
        <!-- REMOVE THIS IF DATA EXISTS -->
        <div class="bc-bh-modal__empty">
          
        </div>

      </div>

    </div>

    <!-- FOOTER -->
    <div class="bc-bh-modal__footer">

      <button class="bc-bh-modal__load-btn">
        LOAD MORE
      </button>

    </div>

  </div>

</div>