<div class="game-rules-modal" [ngClass]="[
       User?.Settings?.Color_Mode === 'LIGHT' ? 'LIGHT' : '',
       showRulesModal ? 'show' : 'hide'
     ]">

    <div class="modal-close-icon" [ngClass]="User?.Settings?.Color_Mode === 'LIGHT' ? 'LIGHT' : ''">
        <i class="fas fa-close" 
            (click)="closeModal()">
    </i>
    </div>



    <div class="game-rules-list">

        <div class="game-rule" *ngFor="let Rule of Game_Rules;">

            <div class="rule-heading">{{ Rule.title }}</div>

            <ng-container>
                <div class="rule-step" *ngFor="let step of Rule.steps"
                    [ngClass]="User?.Settings?.Color_Mode === 'LIGHT' ? 'LIGHT' : ''">
                    {{ step }}
                </div>
            </ng-container>
            <div class="rule-step" *ngIf="Rule.description"
                [ngClass]="User?.Settings?.Color_Mode === 'LIGHT' ? 'LIGHT' : ''">
                {{ Rule.description }}
            </div>

        </div>

    </div>
</div>