.dx {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(19, 21, 29);
    user-select: none;
    min-height: 100vh;
    padding-bottom: 20px;

    &__header {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        background: #22252f;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 10px;
    }

    &__logo {
        width: auto;
        height: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__win-mark {
        min-width: 90px;
        height: 28px;
        padding: 0px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        background:
            linear-gradient(135deg,
                #7dff62 0%,
                #33c635 45%,
                #178f1a 100%);
        border: 1px solid rgba(255, 255, 255, .18);
        box-shadow:
            0 0 0 rgba(105, 228, 68, 0),
            0 6px 18px rgba(0, 0, 0, .35),
            inset 0 1px 0 rgba(255, 255, 255, .25);
        font-size: 14px;
        font-weight: 800;
        letter-spacing: .4px;
        color: #ffffff;
        transform:
            translateY(-20px) scale(.7);
        opacity: 0;
        transition:
            transform .45s cubic-bezier(.22, 1, .36, 1),
            opacity .3s ease,
            box-shadow .3s ease;

        backdrop-filter: blur(8px);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -120%;
            width: 80%;
            height: 100%;
            background:
                linear-gradient(to right,
                    transparent,
                    rgba(255, 255, 255, .45),
                    transparent);
            transform: skewX(-25deg);
        }



        &.show {
            opacity: 1;

            transform:
                translateY(0px) scale(1);
            animation:
                dxWinPulse 1.2s ease infinite;

            &::before {
                animation:
                    dxShine 1.6s linear infinite;
            }
        }
    }

    @keyframes dxWinPulse {

        0% {
            box-shadow:
                0 0 0 rgba(105, 228, 68, 0),
                0 6px 18px rgba(0, 0, 0, .35);
        }

        50% {
            box-shadow:
                0 0 22px rgba(105, 228, 68, .7),
                0 8px 24px rgba(0, 0, 0, .45);
        }

        100% {
            box-shadow:
                0 0 0 rgba(105, 228, 68, 0),
                0 6px 18px rgba(0, 0, 0, .35);
        }
    }

    @keyframes dxShine {

        0% {
            left: -120%;
        }

        100% {
            left: 140%;
        }
    }

    &__balance-box {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        background: rgb(18, 21, 30);
        border-radius: 20px;
        padding: 8px 12px;
        font-weight: 700;
        font-size: 13px;
        color: #fff;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 12px;
            margin-right: 8px;
            color: #fff;
        }
    }

    &__menu-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(18, 21, 30);
        border: none;
        outline: none;

        i {
            font-size: 14px;
            color: #fff;
        }
    }

    &__container {
        width: 100%;
        padding: 0px 10px;
    }

    &__viewport {
        width: 100%;
    }

    &__multipliers {
        width: 100%;
        padding: 10px 0px;
        min-height: 30px;
        position: relative;
    }

    &__multipliers-list {
        width: 100%;
        overflow-x: auto;
        display: flex;
        align-items: center;
        max-width: 100%;
        gap: 10px;

         &::-webkit-scrollbar {
            display: none;
        }

    }

    &__all-multiplier-btn {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 20px;
        background: #333b4a;
        border: none;
        outline: none;
        border-radius: 12px;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-history{
            font-size: 11px;
            margin-right: 5px;
        }

        i {
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }
    }

    &__multiplier {
        cursor: pointer;
        display: block;
        text-align: center;
        border-radius: 12px;
        width: 36px;
        min-width: 36px;
        padding: 4px;
        user-select: none;
        transition: 0.3s;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
        color: rgb(255, 255, 255);

        &.red {
            background: #f12b4c;
        }

        &.gray {
            background: #333b4a;
        }

        &.green {
            background: #69e444;
        }
    }

    &__game-box {
        width: 100%;
        height: 300px;
        background: #232630;
        position: relative;
        z-index: 10;
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 10px;
        border-radius: 12px;
        position: relative;
        padding-top: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__all-multipliers-box {
        display: flex;
        flex-wrap: wrap;
        gap: 9px 12px;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 12px;
        width: 100%;
        background: rgb(34, 37, 47);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 10px;
        border-radius: 12px;
        transition: opacity 0.2s;
        opacity: 1;
        z-index: 100;
        transform: translateY(0px);
        display: none;

        &.show{
            display: flex;
        }

        &__multiplier {
            cursor: pointer;
            display: block;
            text-align: center;
            border-radius: 12px;
            width: 36px;
            min-width: 36px;
            padding: 4px;
            user-select: none;
            transition: 0.3s;
            font-weight: 400;
            font-size: 11px;
            line-height: 12px;
            color: rgb(255, 255, 255);

            &.red {
                background: #f12b4c;
            }

            &.gray {
                background: #333b4a;
            }

            &.green {
                background: #69e444;
            }
        }
    }

    &__roundid {
        position: absolute;
        left: 6px;
        top: 5px;
        color: #E9E8E8;
        font-size: 12px;

        span {
            font-size: 12px;
            margin-left: 3px;
            color: #6c7883;
            font-weight: 500;
        }
    }

    &__game-box-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__next-round-animation {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__progress-wrapper {
        width: 300px;
        height: 1px;
        background: rgba(255, 255, 255, .08);
        border-radius: 20px;
        overflow: hidden;
        margin-top: 10px;

        &.hide {
            filter: opacity(0);
        }
    }

    &__progress-line {
        height: 100%;
        background: #69e444;
        transition: width .1s linear;
    }

    &__dx-card {

        &.gray {
            background: #333b4a;
        }
    }



    &__result-popup {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(3px);
    }

    &__result-card {
        min-width: 280px;
        padding: 30px;
        border-radius: 20px;
        background: #232630;
        animation: popup .3s ease;
        border: 1px solid rgba(255, 255, 255, .1);
    }

    &__result-title {
        font-size: 24px;
        color: #fff;
        text-align: center;
        font-weight: 700;
    }

    @keyframes popup {

        from {
            transform: scale(.7);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    &__dx-cards-container {
        flex: 1;
        width: 100%;
        height: 110px;
        min-height: 100px;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        background:
            radial-gradient(circle at center,
                rgba(40, 46, 61, .9) 0%,
                rgba(18, 22, 30, 1) 100%);
        border-top: 1px solid rgba(255, 255, 255, .08);
        border-bottom: 1px solid rgba(255, 255, 255, .08);

        &::after {
            content: "";
            height: 100%;
            width: 100px;
            position: absolute;
            right: -1px;
            top: 0px;
            background: linear-gradient(90deg, rgb(19, 21, 29) 0%, rgba(19, 21, 29, 0) 100%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            z-index: 9999;
        }

        &::before {
            content: "";
            z-index: 9999;
            height: 100%;
            width: 100px;
            position: absolute;
            left: -1px;
            background: linear-gradient(90deg, rgb(19, 21, 29) 0%, rgba(19, 21, 29, 0) 100%);
        }
    }

    &__cards-track {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0px 30px;
        will-change: transform;
        position: relative;
        z-index: 1;

        will-change: transform;
        transform: translate3d(0, 0, 0);
    }


    /* CARD */

    &__dx-card {
        width: 38px;
        min-width: 38px;
        height: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background: #ef2c4c;
        padding: 6px 4px;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, .08);


        &.green {
            background: #69e344;
        }
    }

    &__dx-card-x {
        width: 100%;
        text-align: center;
        padding: 6px 0px;
        background: rgba(0, 0, 0, 0.28);
        border-radius: 4px;
        font-size: 13px;
        color: #fff;
        font-weight: 700;
    }

    &__dx-card-number {
        font-size: 12px;
        line-height: 28px;
        color: #fff;
        font-weight: 800;
    }



    /* =========================
   WIN BOX SAME AS IMAGE
========================= */

    &__card-win-box {
        width: 50px;
        height: 70px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 4px;
        border: 8px solid #12151e;
    }

    &__card-win-glow {
        position: absolute;
        inset: 0;
        background:
            linear-gradient(to right,
                rgba(255, 255, 255, .02),
                rgba(255, 255, 255, .09),
                rgba(255, 255, 255, .02));
    }

    &__card-win-arrow {
        width: 24px;
        position: absolute;
        left: 50%;
        bottom: -14px;
        transform: translateX(-50%);
        z-index: 12;
        filter: drop-shadow(0px 0px 8px rgba(255, 190, 84, .9));
    }

    &__amount-controlls {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0px 0px 20px 0px;
    }

    &__amountminmax-btn {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 10px 10px;
        margin: 0px;
        background: rgb(27, 29, 37);
        border-radius: 6px;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: rgb(255, 255, 255);
        transition: 0.2s;
        border: none;
        outline: none;
    }

    &__amount-multiply-btn {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 8px;
        margin: 0px;
        background: rgb(27, 29, 37);
        border-radius: 6px;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        color: rgb(255, 255, 255);
        transition: 0.2s;
        border: none;
        outline: none;
    }

    &__amountminmax-btn:hover,
    &__amount-multiply-btn:hover {
        transform: translateY(-1px);
    }

    &__amountminmax-btn:active,
    &__amount-multiply-btn:active {
        transform: scale(.96);
    }

    &__amount-input {
        width: 150px;
        height: 30px;
        background: transparent;

        input {
            margin: 0px;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            background: rgba(18, 21, 30, 1);
            text-align: center;
            color: #ffffff;
        }
    }

    &__betcontrollers {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        margin-top: 10px;
    }

    &__betting-btn {
        width: 100%;
        min-width: 0;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        outline: none;
        border-radius: 12px;
        padding: 0px 10px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        transition: .2s;

        &.active {
            transform: scale(0.95);
            box-shadow: 0 0 15px rgba(255, 255, 255, .25) inset;
            border: 2px solid goldenrod;
        }

        &.disabled {
            opacity: .35;
            pointer-events: none;
        }

        &.win2x {
            background: #f12b4c;
        }

        &.win14x {
            background: #69e444;
        }

        &.win2x-gray {
            background: rgb(51, 59, 74);
        }
    }

    &__wh-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        margin-top: 10px;
    }

    &__wh-card {
        width: 100%;
        min-width: 0;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: rgba(0, 0, 0, 0.02) 0px 4px 10px;
        border-radius: 12px;
        height: 384px;
        background: rgba(37, 40, 50, 1);
    }

    &__wh-card-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 45px;
        align-items: center;
        padding: 0px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__wh-header-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__wh-type {
        padding: 6px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 13px;
        border-radius: 6px;

        &.red {
            background: #f12b4c;
        }

        &.gray {
            background: #333b4a;
        }

        &.green {
            background: #69e444;
        }
    }


    &__total-bets {
        font-size: 11px;
        color: #ffffff;
    }

    &__total-bet-amt {
        font-size: 11px;

        &.plus {
            color: #69e444;
        }

        &.minus {
            color: #f12b4c;
        }
    }

    &__wh-histories {
        width: 100%;
    }

    &__history-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    &__h-userinfo {
        display: flex;
        align-items: center;
    }

    &__h-avtar {
        width: 18px;
        height: 18px;
        object-fit: contain;
    }

    &__h-username {
        font-size: 11px;
        margin-left: 5px;
        color: #ffffff;
        font-weight: 200;
    }

    &__h-user-bet-amt {
        font-size: 11px;
        color: #ffffff;
        font-weight: 200;
    }
}


@keyframes glowPulse {

    0% {
        box-shadow: 0 0 0 rgba(255, 228, 94, .3);
    }

    50% {
        box-shadow: 0 0 30px rgba(255, 228, 94, .7);
    }

    100% {
        box-shadow: 0 0 0 rgba(255, 228, 94, .3);
    }
}

@keyframes blink {

    0% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}



@media screen and (max-width:768px) {

    .dx {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;

        &__header {
            width: 100%;
            height: 70px;

        }

        &__logo {
            width: 108px;
            height: 20px;

        }

        &__right {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__htp-block {
            align-items: center;
            gap: 8px;
            padding: 8px 10px;
            font-size: 12px;
            text-wrap: nowrap;
        }

        &__balance-box {
            padding: 8px 10px;
            font-size: 12px;
        }

        &__menu-btn {
            width: 30px;
            height: 30px;

            i {
                font-size: 18px;
            }
        }

        &__container {
            width: 100%;
            padding: 0px 10px;
        }

        &__viewport {
            width: 100%;
        }

        &__multipliers {
            width: 100%;
            padding: 10px 0px;
        }

        &__multiplier {
            width: 36px;
            min-width: 36px;
            padding: 4px;
        }

        &__game-box {
            width: 100%;
            height: 240px;
        }

        &__roundid {
            left: 50%;
            transform: translateX(-50%);
        }


        &__next-round-animation {
            flex: 1;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__progress-wrapper {
            width: 150px;
            height: 2px;
        }

        &__progress-line {
            height: 100%;
        }



        &__amount-controlls {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 0px 0px 20px 0px;
            margin-top: 15px;
        }

        &__amountminmax-btn {
            padding: 10px 10px;
            font-size: 12px;
        }

        &__amount-multiply-btn {
            font-size: 14px;
        }

        &__amount-input {
            width: 150px;
            height: 30px;

            input {
                margin: 0px;
                width: 100%;
            }
        }

        &__betcontrollers {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        &__betting-btn {
            width: 100%;
            height: 55px;
            font-size: 14px;
            font-weight: 500;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;

            .label {
                font-size: 13px;
                font-weight: 500;
            }

            .win-x {
                font-size: 12px;
                font-weight: 400;
            }
        }

        &__wh-cards {
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            gap: 5px;
            margin-top: 10px;
        }

        &__wh-card {
            width: 100%;
            height: auto;
            min-height: 300px;
        }

        &__wh-card-header {
            width: 100%;
            height: 45px;
            align-items: center;
            padding: 0px 10px;
            position: relative;

        }

        &__total-bets {
            font-size: 11px;
        }

        &__total-bet-amt {
            font-size: 11px;
        }

        &__wh-histories {
            width: 100%;
        }

        &__history-row {
            width: 100%;
            display: flex;
            font-size: 16px;
            line-height: 24px;
        }

        &__h-userinfo {
            display: flex;
            align-items: center;
        }

        &__h-avtar {
            width: 18px;
            height: 18px;
            object-fit: contain;
        }

        &__h-username {
            font-size: 11px;
            margin-left: 5px;
        }

        &__h-user-bet-amt {
            font-size: 11px;
        }
    }





}