<header class="aviator-header">
    <nav class="aviator-header__nav">
        <div class="aviator-header__logo">
            <img src="assets/aviator/game-logo.svg" alt="" class="aviator-header__logoimg">
        </div>
        <div class="aviator-header__right">
            <div class="aviator-header__balance">30,0000 <span>USD</span></div>
            <div class="aviator-header__settings-menu" (click)="openSidebar()">
               <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>